<!-- Chat Login -->
<div *ngIf="!isConnected" class="d-flex justify-content-center align-items-center vh-100 bg-dark text-light">
	<div class="card p-4 shadow-lg" style="max-width: 400px; width: 100%;">
		<h3 class="text-center mb-4">Join the Chat Room</h3>
		<form (ngSubmit)="connect()">
			<div class="mb-3">
				<input [(ngModel)]="username" type="text" name="username" class="form-control form-control-lg"
					placeholder="Enter your username" required>
			</div>
			<button type="submit" class="btn btn-primary w-100">
				<i class="fa-solid fa-play me-2"></i> Start Chat
			</button>
		</form>
	</div>
</div>

<!-- Chat Room -->
<div *ngIf="isConnected" class="d-flex flex-column vh-100 bg-dark text-light">
	<!-- Header -->
	<header class="bg-secondary p-3 text-center shadow-sm">
		<h2 class="mb-0">Chat Room</h2>
	</header>

	<!-- Messages -->
	<ul class="list-unstyled flex-grow-1 overflow-auto p-3 mb-0" style="background-color: #1c1c1c;">
		<li *ngFor="let message of messages" class="mb-3">
			<div *ngIf="message.type==='CHAT'" class="d-flex align-items-start">
				<!-- Avatar -->
				<div class="rounded-circle text-center text-light me-2 fw-bold"
					[style.backgroundColor]="getAvatarColor(message.sender)"
					style="width: 40px; height: 40px; line-height: 40px; font-size: 1.1rem;">
					{{message.sender.charAt(0)}}
				</div>
				<!-- Message -->
				<div>
					<small class="text-white fw-bold">{{message.sender}} <span
							*ngIf="message.sender === username">(You)</span></small>
					<p class="mb-0 p-2 rounded shadow-sm text-white" style="background-color: #333333;">
						{{message.content}}
					</p>
				</div>
			</div>

			<!-- Mensajes de eventos (JOIN / LEAVE) -->
			<div *ngIf="message.type !== 'CHAT'" class="text-center my-2">
				<p class="text-white-50 fst-italic small mb-0">
					{{message.sender}} {{message.type === 'JOIN' ? 'joined!' : 'left!'}}
				</p>
			</div>

		</li>
	</ul>


	<!-- Input -->
	<form (ngSubmit)="sendMessage()" class="p-3 border-top border-secondary">
		<div class="input-group">
			<input [(ngModel)]="message" name="message" type="text" class="form-control form-control-lg"
				placeholder="Type a message..." required>
			<button type="submit" class="btn btn-primary">
				<i class="fa-solid fa-paper-plane"></i>
			</button>
		</div>
	</form>
</div>